body {
    background-image: url('../images/bch-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Didact Gothic', sans-serif;
}
/* apply title font to select elements*/
.mynav,
.mynavpages,
h2,
h3,
p.subtitle,
p.user {
    font-family: 'Cabin', sans-serif;
}
/* assign elements to receive cursive title font */
.asideHead,
.mynavbrand,
h1 {
    font-family: 'Cabin Sketch', cursive;
}

a {
    transition: 0.2s ease;
    text-decoration: none;
    color: #009;
}
/* Apply link color to icons */
a > i {
    color: #009;
}

a:hover,
a:hover > i {
    text-decoration: none;
    color: #00c;
}
/* adjust nav links*/
.mynav {
    margin-right: auto;
    margin-left: auto;
}

.mynavpages {
    font-size: 1.1em;
}

.mynavbrand {
    font-size: 1.5em;
}
/* define background colored areas */
.bgArea {
    margin-bottom: 1.5rem;
    padding: 1em;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .25);
}
/* override padding for heading */
.pg-head {
    padding: 0.5rem 0;
}
/* add padding to h1 in heading are */
.pg-head > h1 {
    padding: 2rem 0 1rem;
}

.commentHead {
    border-bottom: 1px solid rgba(204, 204, 204, 0.75);
}

.date {
    font-weight: lighter;
}
/* not sure why this class was deprecated from bootstrap v3 to v4*/
.img-circle {
    margin-bottom: 1.5rem;
    border-radius: 50%;
}

.mybutton {
    margin-bottom: 0.5rem;
    padding: 0.2rem 1rem;
    transition: 0.2s ease;
    text-align: center;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, .25);
}

.mybutton:hover {
    background-color: rgba(255, 255, 255, .6);
}

.pluspad {
    padding-top: 0.8rem;
}
/* style elements from comment area */
p.noMargin {
    margin-bottom: 0;
}

p.subtitle,
p.user {
    font-size: 1.2em;
    color: #009;
}
/* define a class in the rare case I want to have an underlined link */
a.decorateLink {
    text-decoration: underline;
}
