/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.fullH {
	height:55vh;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

/*In addition to the below, I edited the materialize.css sheet, updating the btn class and btn:hover pseudoclass to set the btn color to match my color scheme
* this addressed some issues I was having where layering the color classes from the materialize css site broke the animation behavior of the buttons
* The CSS below this line is mine, above is from the materializeCSS template
*/
.mylight {
	font-size: 0.8em;
	font-weight: 200;
	color: black;
	margin-top: 0;
}

.myicon{
	margin-bottom: 15px;
}

* > p, * > div {         /*add a little breathing room above any p or div that is a child of another element*/
	margin-top: 10px;
}

.btn, .btn-large {
	background-color: #0097a7; /*cyan darken-2, override default button color*/
}

.btn:hover, .btn-large:hover {
	background-color: #00BCD4; /*cyan darken-1, override default button hover which lightens default button*/
}

.btn:focus, .btn-large:focus {
	background-color: #0097a7; /*cyan darken-3, override default button focus which darkens default button*/
}

.btn-floating {
	margin: 3px;

}

.fixed-action-btn, .fixed-action-btn ul {
	position: relative;
}
.fixed-action-btn.horizontal ul {
	right:33em;
	top: -2.5em;
}
